{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="text-center bg-info p-1">Update Product</h2>
      {% include '_messages.html' %}
      {% from "_formhelpers.html" import render_field %}
      <form action="" method="POST" enctype="multipart/form-data">

        {{ render_field(form.name, class='form-control', placeholder="Add product name") }}
        {{ render_field(form.price, class='form-control', placeholder="Add product price") }}
        {{ render_field(form.stock, class='form-control', placeholder="Add product stock") }}
        {{ render_field(form.colours, class='form-control', placeholder="Add product colours", rows="1") }}

        <label for='brand'>Add a brand</label>
        <select name="brand" id="brand" class="form-control" required>
          <option value="{{products.brand_id}}">{{products.brand.name}}</option>
          {% for brand in brands %}
          <option value="{{brand.id}}">{{brand.name}}</option>
          {% endfor %}
        </select>

        <label for="category">Add a category</label>
        <select name="category" id="category" class="form-control" required>
          <option value="{{products.category_id}}">{{products.category.name}}</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>

        {{ render_field(form.discount, class='form-control', placeholder="Add product discount") }}
        {{ render_field(form.description, class='form-control', placeholder="Add product description", rows="4") }}

        <div class="container">
          <div class="row">
            <div class="col-md-4">{{ render_field(form.image_1, class="form-control")}}</div>
            <div class="col-md-4">{{ render_field(form.image_2, class="form-control")}}</div>
            <div class="col-md-4">{{ render_field(form.image_3, class="form-control")}}</div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-info mt-4 mb-5">Update Product</button>
        <button type="submit" class="btn btn-outline-danger mt-4 mb-5" style="margin-top:-1px; margin-left:10px">Cancel</button>
      </form>
    </div>
    <div class="col-md-2"></div>
</div>
</row>

{% endblock content %}
