{% include 'header.html' %}
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="{{url_for('home')}}">Home</a></span> / <span>Checkout</span></p>
					</div>
				</div>
			</div>
		</div>
<div class="display-tc">
	<span class="discount">
    <h1>Heelschoon.nl Privacy Policy</h1>

<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from Heelschoon.nl</p>

<h1>WHAT PERSONAL INFORMATION WE COLLECT</h1>

<p>We only ask for your personal details, Names, Address, Email, and Phone number, for the sole reason of getting your ordered items delivered to you.
Cookies Cookies are automatically deleted as soon as you logout from Heelschoon.nl.
Also, when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers Mention all types of accepted payments, email address, and phone number. This is called Order Information.</p>

<p>By Personal Information in this Privacy Policy, we are talking both about Your Name, Address, Phone  Number, and Email.</p>

<p>Payments Heelschoon.nl does not store or process payments for your orders. At the point of checkout we direct you to a trusted and government regulated payment processing company. 
We do no see or have access to payment details.</p>

<h1>HOW DO WE USE YOUR PERSONAL INFORMATION</h1>
<p>We use the Order Information that we collect generally to fulfil any orders placed through the Heelschoon.nl (including arranging for shipping, and providing you with invoices and/or order confirmations). WE DO NOT HANDLE PAYMENTS OR HAVE ACCESS TO YOUR PAYMENT DETAILS.</p>


<p>Additionally, we use this Order Information to: - Communicate with you. - Screen our orders for potential risk or fraud. - When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</p>

<h1>SHARING YOUR PERSONAL INFORMATION</h1>
<p>We do not share our customers personal information with third parties. Our customers personal details are for ordered items delivery only.</p>

<h1>BEHAVIOURAL ADVERTISING</h1>
<p>We do not partake in behavioral advertising. We. Simply sell products and ship them to you.</p>

<h1>YOUR RIGHTS</h1>
<p>If you are a European resident, you have the right to access the personal information we hold about you and to ask that your personal information is corrected, updated, or deleted. If you would like to exercise this right, please contact us.
Additionally, if you are a European resident we note that we are processing your information in order to fulfil contracts we might have with you (for example if you make an order through the Heelschoon.nl.), or otherwise to pursue our legitimate business interests listed above.</p>

<p>All customer personal information are store within the European region. </p>

<h1>DATA RETENTION</h1>
<p>When you place an order through the Heelschoon.nl., we will maintain your Order Information for our records unless and until you ask us to delete this information.</p>

<h1>MINORS</h1>
<p>The Heelschoon.nl. is not intended for individuals under the age of 18.</p>


<h1>CHANGES</h1>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
If you have questions and/or require more information, do not hesitate to contact us </p>    
    </span>
</div>
{% include 'footer.html' %}